html, body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-family: "Arial", sans-serif;
	background-color: #888;
	color: #FFF;
}

h1 {
	font-size: 250%;
	font-weight: bold;
}

section {
	max-width: 66%;
	min-height: 27%;
	border: 1px solid #777; 	
	padding: 5px;
	margin: 5px auto 5px auto;
	text-align: center;
}

.top {
	min-height: 300px;
	background: url(../img/husabergtop.jpg);
    background-size: cover;
}

section p {
	font-size: 130%;

} 